.differentials-bg {
  margin-top: 110px;
  background-color: white;
  padding: 26px 35px 26px 21px;
  border-radius: 10px;
  gap: 85px;
  box-shadow: 0px 4px 40px 0px rgba(178, 155, 132, 0.50);
}

.differentials-bg ul {
  display: flex;
  gap: 85px;
}

.differentials-bg li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px 18px;
  align-items: center;
  position: relative;
}

.differentials-bg li:first-child::after,
.differentials-bg li:nth-child(2):after {
  content: "";
  width: 1px;
  height: 83px;
  background-color:rgba(73, 46, 21, 0.15);
  position: absolute;
  right: -42px;
}

.differentials-bg li img {
  grid-row: 1/-3;
  background-color: #FAE2CB;
  padding: 15px;
  border-radius: 50%;
}

.differentials-bg li p {
  max-width: 20ch;
}

@media (max-width: 430px) {
  .differentials-bg {
    width: 355px;
    padding: 26px 31px;
    margin-top: 490px;
  }
  .differentials-bg ul {
    flex-direction: column;
    gap: 32px;
  }
  .differentials-bg li:first-child::after,
  .differentials-bg li:nth-child(2):after {
  left: 0px;
  bottom: -16px;
  width: 100%;
  height: 1px;
  }
}
