.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.footer::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(29, 6, 5, 0.15);
  position: absolute;
  bottom: 0px;
}

.favicon-footer {
  display: flex;
  gap: 4px;
  align-items: center;
}

.favicon img {
  display: inline-block;
}

.menu-footer {
  display: flex;
  gap: 30px;
}

.social-footer {
  display: flex;
  gap: 13px;
  align-items: center;
  position: relative;
}

.social-footer img {
  width: 27px;
}

footer p {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}

@media (max-width: 430px) {
  .footer {
    flex-direction: column;
    order: 1;
  }
  .menu-footer {
    flex-direction: column;
    align-items: center;
    order: 3;
  }
  .social-footer {
    order: 2;
    margin-top: 30px;
  }
  .footer p::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(29, 6, 5, 0.15);
    position: absolute;
    top: -3px;
  }
  .footer ul:last-child::before {
    content: "";
    width: 380px;
    height: 1px;
    background-color: rgba(29, 6, 5, 0.15);
    position: absolute;
    top: -12px;
    left: -157px;
  }
  .footer ul:last-child::after {
    content: "";
    width: 380px;
    height: 1px;
    background-color: rgba(29, 6, 5, 0.15);
    position: absolute;
    bottom: -12px;
    left: -157px;
  }
}