.introduction {
  margin-top: 114px;
}

.introduction a {
  margin-top: 14px;
}

.apetite {
  background-color: var(--yel);
  border-radius: 5px;
}

@media (max-width: 430px) {
  .introduction {
    margin-top: 37px;
  }
  .introduction p {
    font-size: 1.125rem;
  }
  .introduction h1 {
    font-size: 3.375rem;
  }
}