.intro {
  margin-top: 114px;
}

.intro a {
  margin-top: 14px;
}

.apetite {
  background-color: var(--yel);
  border-radius: 5px;
}

@media (max-width: 900px) {
  .intro {
    margin-top: 37px;
  }
  .intro p {
    font-size: 1.125rem;
  }
  .intro h1 {
    font-size: 3.375rem;
  }
}
