.location {
  margin-top: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.location h2,
.location p {
  text-align: center;
}

iframe {
  max-width: 1920px;
  margin-top: 30px;
}

@media (max-width: 430px) {
  .location h2 {
    font-size: 25px;
  }
  .location {
    margin-top: 60px;
  }
}
