.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 64px;
}

.menu-bg {
  background: url(../../img/oferta/menu.jpg) no-repeat;
  padding: 180px 0px 186px 0px;
  background-position: top right;
  background-size: cover;

  display: flex;
  justify-content: right;
}

.menu-intro {
  margin-right: 110px;
}

.menu-intro h2 {
  width: 18ch;
}
.menu-intro p {
  margin-top: 10px;
  margin-bottom: 18px;
  max-width: 45ch;
}

.menu-content {
  padding: 71px 300px 71px 32px;
  background-color: var(--brown-intro);
}

.menu-content h3 {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

#espec {
  display: none;
}

.menu-item {
  margin-top: 16px;
  margin-bottom: 32px;
}

.menu-item h4 {
  white-space: nowrap;
  text-transform: uppercase;
}

.menu-item > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  gap: 10px;
}

.menu-item .trace {
  content: "";
  border-bottom: 3px dotted;
  width: 100%;
}

.menu-item:last-child {
  margin-bottom: 0px;
}

.menu-item p {
  max-width: 50ch;
  line-height: 1.4;
}

@media (max-width: 1200px) {
  .menu-intro {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 1100px) {
  .menu {
    grid-template-columns: 1fr;
  }
  .menu-content {
    padding-right: 150px;
  }
}

@media (max-width: 560px) {
  .menu-bg {
    background: url(../../img/oferta/menu-mobile.jpg);
    padding-top: 39px;
    padding-bottom: 38px;
    justify-content: left;
  }
  .menu-content {
    padding: 54px 26px 47px 24px;
  }
  .menu-intro h2 {
    font-size: 1.5625rem;
    max-width: 20ch;
  }
  .menu-intro p {
    font-size: 0.875rem;
  }
  .menu-content h3 {
    display: none;
  }
  #espec {
    display: block;
  }
  .menu-item {
    margin-bottom: 16px;
  }
  .menu-item p {
    max-width: 45ch;
    font-size: 0.875rem;
  }
}
