:root {
  --red-l: #f53627;
  --red: #f43127;
  --yel: #f59a1b;
  --green-l: #a1cf67;
  --green: #00a950;
  --dark: #141318;
  --brown: rgba(29, 6, 5, 0.9);
  --brown-intro: #3b200b;
  --brown-d: #3a210b;
  --brown-l: #60340b;
  --brown-xl: #635352;
  --brown-xxl: #fae4d0;
  --white-l: rgba(255, 255, 255, 0.9);
}

.red-l {
  color: var(--red-l);
}

.red {
  color: var(--red);
}

.yel {
  color: var(--yel);
}

.green-l {
  color: var(--green-l);
}

.green {
  color: var(--green);
}

.dark {
  color: var(--dark);
}

.brown {
  color: var(--brown);
}

.brown-intro {
  color: var(--brown-intro);
}

.brown-l {
  color: var(--brown-l);
}

.brown-xl {
  color: var(--brown-xl);
}

.brown-xxl {
  color: var(--brown-xxl);
}

.white-l {
  color: var(--white-l);
}

.brown-d {
  color: var(--brown-d);
}

.brown-intro {
  color: var(--brown-intro);
}
