.container {
  max-width: 1170px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.container-s {
  max-width: 970px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.button-whats {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--yel);
  padding: 4px 16px;
  border-radius: 4px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--red);
  border-radius: 5px;
  color: white;
}

.button-order {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: white;
  color: var(--red);
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .button-whats {
    font-size: 1rem;
    padding: 2px 8px;
  }
}

@media (max-width: 1100px) {
  .container {
    padding: 0 25px
  }
}

@media (max-width: 900px) {
  .container-s {
    max-width: 700px;
  }
}
