/* FONT 1 - Lilita One
FONT 2 - Lato */

.font-1-l-b {
  font: 400 4.875rem "Lilita One", sans-serif;
  text-transform: uppercase;
}

.font-1-ll {
  font: 400 2.5625rem/1.1 "Lilita One", sans-serif;
  text-transform: uppercase;
}

.font-1-l {
  font: 400 2rem/1.4 "Lilita One", sans-serif;
}

.font-1-ls {
  font: 400 1.75rem/1.4 "Lilita One", sans-serif;
}

.font-1-sl {
  font: 400 1.5625rem/1.1 "Lilita One", sans-serif;
}

.font-1-s {
  font: 400 1.25rem/1.1 "Lilita One", sans-serif;
}

.font-2-l {
  font: 400 2rem/1.1 "Lato", sans-serif;
}

.font-2-m,
.font-2-m-b {
  font: 400 1.4375rem/1.1 "Lato", sans-serif;
}

.font-2-m-b {
  font-weight: 700;
}

.font-2-s {
  font: 400 1.125rem/1.4 "Lato", sans-serif;
}

.font-2-xs {
  font: 400 1rem/1.2 "Lato", sans-serif;
}

.font-2-ss {
  font: 400 0.75rem/1.1 "Lato", sans-serif;
}

.font-3-s {
  font: 400 0.875rem/1.35 "Inter", sans-serif;
}

.fw-7 {
  font-weight: 700;
}

.fw-9 {
  font-weight: 900;
}
